.container {
    width: 2.6rem;
    height: 1.5rem;
    border: 1.5px solid #53c28b70;
    border-radius: 1.9rem;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: .7rem;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;
}